@model IEnumerable<carrentalservice.Models.driver>
@{
    ViewBag.Title = "DriverAvail";
}

<h2>DriverAvail</h2>
<h3 style="color:white">GET QUOTE</h3>
<div class="row text-center">



    @foreach (var product2 in Model)
    {

        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="@Url.Action("RenderImage2", "drivers", new { id2 = product2.DriverID })" width="250" height="250" />
                <p><strong>Driver Name: @product2.Drivername</strong></p>
                <br />
                <p><strong>Cost Per kilometre R: @product2.costPerKilo</strong></p>
                <br />

                <a href="@Url.Action("Create","DriverQuote" ,new { id2 = product2.DriverID })">
                    <span class="btn btn-success">Book Driver</span>
                </a>
            </div>
        </div>

    }
</div>

<div>
    @Html.ActionLink("Back to List", "driverQuotes", "driveQuote")
</div>



